div#chat-content {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
}
div#chat-content header.content-header {
  width: 100%;
  height: 90px;
  padding: 0 35px;
  display: flex;
  position: relative;
  align-items: center;
  border-bottom: 8px solid #ffffff;
  background-color: #dae8f1;
}
div#chat-content header.content-header span.headerText {
  color: #ffffff;
  font-size: 36px;
  font-weight: 700;
  line-height: 86px;
  white-space: nowrap;
}
div#chat-content header.content-header span.onlineText {
  right: 35px;
  position: absolute;
}
div#chat-content header.content-header span.onlineText {
  color: #409EFF;
  font-size: 36px;
  font-weight: 700;
  line-height: 86px;
  white-space: nowrap;
}
div#chat-content header.content-header span.systemStat {
  width: 28px;
  height: 28px;
  min-width: 28px;
  cursor: pointer;
  transition: 0.5s;
  margin: auto 25px;
  border-radius: 5px;
  border: 5px solid #ffffff;
}
div#chat-content main.content-main {
  width: 100%;
  height: 670px;
  display: flex;
  overflow: hidden;
  overflow-y: scroll;
  position: relative;
  flex-direction: column;
}
div#chat-content main.content-main span.chat-message[data-type="101"] {
  margin: 20px auto;
}
div#chat-content main.content-main span.chat-message[data-type="201"] {
  min-height: 75px;
  margin-bottom: 20px;
}
div#chat-content main.content-main span.chat-message[data-type="201"] div.message-info {
  height: 100%;
  display: flex;
}
div#chat-content main.content-main span.chat-message[data-type="201"] div.message-info div.content-box + span.avatar-info {
  margin-left: 15px;
}
div#chat-content main.content-main span.chat-message[data-type="201"] div.message-info span.avatar-info + div.content-box {
  margin-left: 15px;
}
div#chat-content main.content-main span.chat-message[data-type="201"] div.message-info div.content-box {
  display: flex;
  flex-direction: column;
}
div#chat-content main.content-main span.chat-message[data-type="201"] div.message-info div.content-box div.user-info {
  display: flex;
  align-items: center;
}
div#chat-content main.content-main span.chat-message[data-type="201"] div.message-info div.content-box div.user-info span.user-name {
  color: #67C23A;
  font-size: 14px;
  line-height: 100%;
}
div#chat-content main.content-main span.chat-message[data-type="201"] div.message-info div.content-box div.user-info span.user-time {
  font-size: 14px;
  color: #909399;
  line-height: 100%;
}
div#chat-content main.content-main span.chat-message[data-type="201"] div.message-info div.content-box div.user-info span.user-time + span.user-name {
  margin-left: 15px;
}
div#chat-content main.content-main span.chat-message[data-type="201"] div.message-info div.content-box div.user-info span.user-name + span.user-time {
  margin-left: 15px;
}
div#chat-content main.content-main span.chat-message[data-type="201"] div.message-info div.content-box div.message-content {
  padding: 8px;
  margin-top: 15px;
  overflow: hidden;
  white-space: nowrap;
  border-radius: 0.25rem;
  text-overflow: ellipsis;
  border: 5px solid #ffffff;
  background-color: #dae8f1;
}
div#chat-content main.content-main span.chat-message[data-type="201"] div.message-info div.content-box div.message-content {
  min-height: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
div#chat-content main.content-main span.chat-message[data-type="201"] div.message-info span.avatar-info {
  width: 75px;
  height: 75px;
  min-width: 75px;
  border-radius: 0.25rem;
  border: 5px solid #ffffff;
  background-color: #dae8f1;
}
div#chat-content footer.content-footer {
  padding: 0;
  width: 100%;
  height: 60px;
  display: flex;
  border-top: 8px solid #ffffff;
  background-color: #dae8f1;
}
div#chat-content footer.content-footer div.chat-input {
  width: 80%;
  border: none;
  background: none;
  box-shadow: none;
}
div#chat-content footer.content-footer div.chat-input div.el-input__wrapper {
  border-radius: 0%;
  background-color: var(--el-color-primary-light-9);
}
div#chat-content footer.content-footer div.chat-input div.el-input__wrapper span.el-input__count-inner {
  background-color: transparent;
}
div#chat-content footer.content-footer button.chat-button {
  width: 20%;
  height: 100%;
  border: none;
  color: #ffffff;
  border-radius: 0%;
  background-color: var(--el-button-hover-bg-color);
  border: 1px solid var(--el-input-border-color, var(--el-border-color));
}
div#chat-content footer.content-footer button.chat-button:hover {
  border: 1px solid var(--el-button-hover-bg-color);
}
div.el-result {
  height: 100%;
}
div.el-result div.el-result__icon > svg {
  width: 84px;
  height: 84px;
}
div.el-result div.el-result__title > p {
  font-size: 26px;
}
div.el-result button.el-button.el-button--primary {
  width: 165px;
}
div.el-loading-spinner p.el-loading-text {
  margin: 15px 0;
  font-size: 15px;
  font-weight: 700;
}
div.el-skeleton__item.el-skeleton__p.is-first {
  width: 100%;
  height: 100%;
}
