
div#chat-sidebar {
    width: 105px;
    height: 100%;
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    border-right: 8px solid #ffffff;
    background-color: rgba(218,232,241,1.00);

    div.button-sheet {
        bottom: 20px;
        display: flex;
        margin-top: 20px;
        position: absolute;  
        justify-content: center;

        button.el-button {
            width: 70px;
            height: 70px;
            border: none;
            background: none;
        }
    }

    span.avatar-info {
        width: 70px;
        height: 70px;
        cursor: pointer;
        margin-top: 19.5px;
        border: 5px solid #ffffff;
    }
}